header{
    height:50px;
    width:100%;
    background-color:white;
    padding:5px 40px;
    box-sizing:border-box;

    display:flex;
    justify-content:flex-end;
    align-items: center;
}

header a{ 
    height:100%; 
    background:white;
    padding:5px;
    box-sizing:border-box;
    display:flex;
    justify-content:flex-end;
    align-items: center;
}

header a img{
    height:90%;
    cursor:pointer;
    transition:all 0.2s linear;
}

header img:hover{
    transform:scale(1.15);  
}